.dashboard {
    text-align: center;
    padding: 10px 10px;
}

.dashboard h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ff9800;
    text-shadow: black 2px 2px;
}



form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 10px 10px;
    width: 500px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    background: #ff9800;
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: #e68a00;
}

.error {
    color: #ff4d4d;
    margin: 10px 0;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    width: 80%;
    max-width: 400px;
    border: black 1px solid;
}

.weather-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weather-card {
    width: 250px;
}

.weather-card h4 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.weather-card h2 {
        text-align: center;
        font-size: 2rem;
        margin: 20px 0;
}

