.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px; /* Increased padding for better left and right spacing */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo-image {
    height: 50px; /* Adjust as needed */
    width: auto;
}

.nav-links {
    display: flex;
    gap: 20px;
    margin-right: 100px; /* Optional: Extra space on the right if needed */
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    /* color: #fff; */
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ff9800;
}
